# project

variable "sel_token" {}

variable "project_name" {
  default = "d8test"
}

variable "cluster_name" {
  default = "d8test"
}

variable "region" {
  default = "ru-3"
}

variable "subnet_cidr" {
  default = "10.222.0.0/16"
}

variable "keypair_name" {
  default = "d8user"
}

variable "user_name" {
  default = "d8user"
}

variable "user_password" {}

# kubernetes

variable "kube_version" {
  default = "1.24.8"
}

variable "enable_autorepair" {
  default = true
}

variable "enable_patch_version_auto_upgrade" {
  default = true
}

variable "maintenance_window_start" {
  default = "02:00:00"
}

variable "availability_zone" {
  default = "a"
}

variable "worker_nodes_count" {
  default = 4
}

variable "worker_affinity_policy" {
  default = ""
}

variable "worker_cpus" {
  default = 4
}

variable "worker_ram_mb" {
  default = 8192
}

variable "worker_volume_gb" {
  default = 50
}

variable "worker_volume_type" {
  default = "fast"
}

variable "worker_labels" {
  default = {
    "node-role.kubernetes.io/worker":"worker"
  }
}

variable "worker_taints" {
  type = list(object({
    key = string
    value = string
    effect =string
  }))
  default =[ ]
}

variable "system_nodes_count" {
  default = 1
}

variable "system_affinity_policy" {
  default = ""
}

variable "system_cpus" {
  default = 4
}

variable "system_ram_mb" {
  default = 16384
}

variable "system_volume_gb" {
  default = 50
}

variable "system_volume_type" {
  default = "fast"
}

variable "system_labels" {
  default = {
    "node-role.kubernetes.io/system":"system"
  }
}

variable "system_taints" {
  type = list(object({
    key = string
    value = string
    effect =string
  }))
  default =[ {
    effect = "NoExecute"
    key = "dedicated.deckhouse.io"
    value = "system"
  } ]
}

variable "front_nodes_count" {
  default = 2
}

variable "front_affinity_policy" {
  default = ""
}

variable "front_cpus" {
  default = 4
}

variable "front_ram_mb" {
  default = 4096
}

variable "front_volume_gb" {
  default = 50
}

variable "front_volume_type" {
  default = "fast"
}

variable "front_labels" {
  default = {
    "node-role.kubernetes.io/frontend":"frontend"
  }
}

variable "front_taints" {
  type = list(object({
    key = string
    value = string
    effect =string
  }))
  default =[ {
    effect = "NoExecute"
    key = "dedicated.deckhouse.io"
    value = "frontend"
  } ]
}

# bastion

variable "is_create_bastion" {
  default = false
}

variable "bastion_server_name" {
  default = "bastion"
}

variable "bastion_server_vcpus" {
  default = 1
}

variable "bastion_server_ram_mb" {
  default = 512
}

variable "bastion_server_root_disk_gb" {
  default = 10
}

variable "bastion_server_image_name" {
  default = "Ubuntu 22.04 LTS 64-bit"
}

variable "bastion_volume_type" {
  default = "fast"
}

# runners

variable "runners_count" {
  default = 2
}

variable "runner_server_vcpus" {
  default = 4
}

variable "runner_server_ram_mb" {
  default = 8192
}

variable "runner_server_root_disk_gb" {
  default = 100
}

variable "runner_server_image_name" {
  default = "Ubuntu 22.04 LTS 64-bit"
}

variable "runner_volume_type" {
  default = "fast"
}
